<?xml version="1.0"?>
<configuration>

  <!--<location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <connectionStrings>
    <!--<add name="yogaDB"    
         connectionString= "Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDbFilename='C:\Users\Sricharani Aleti\source\repos\YogaClassPlanner\YogaClassPlanner\YogaClassPlanner\App_Data\yogaDatabase.mdf';Integrated Security=True" Providername=".NET Framework Data Provider for SQL Server"/>-->
         <!--"Data Source=.\SQLEXPRESS;AttacheDbFilename=yogaDatabase.mdf;Trusted_Connection=true"/>-->
    <!--<add name="yogaDB" connectionString="Data Source=localhost;Initial Catalog=yogaDatabase;
         Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="yogaDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=yogaDatabase;Integrated Security=SSPI;persist security info=True;" providerName="System.Data.SqlClient"/>
    <!--add name="yogaDB" connectionString="Server=.\\SQLEXPRESS;Initial Catalog=yogaDatabase;
         Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
